//breakpoints
$breakpointMobileSmall: 340px;
$breakpointMobile: 442px;
$breakpointTablet: 768px;
$breakpointLaptop: 1025px;
$breakpointLaptopBig: 1200px;
$breakpointDesktopBig: 1600px;

//colors
$lightBlue: #3b71ca;
$darkBlue: #194ca0;
$buttonShadow: #3b72ca4b;
$buttonDarkShadow: #3b72ca5e;
$white: #ffffff;
$darkWhite: #fdfdfd;
