@import './base';
@import './variables';
@import './mixins';

body {
	padding: 20px;

	@include laptop {
		padding: 30px;
	}
}

.button {
	background-color: $lightBlue;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 15px 30px;
	box-shadow: 5px 5px 5px $buttonShadow;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

	@include laptop {
		font-size: 18px;
		padding: 18px 32px;
		border-radius: 8px;

		// Due to the lack of interaction on hover on mobiles, it is better to use it only on devices that have a mouse, such as a laptop or desktop.

		&:hover {
			background-color: $darkBlue;
			box-shadow: 10px 10px 10px $buttonDarkShadow;
			color: $darkWhite;
		}
	}

	&:focus {
		background-color: $darkBlue;
		box-shadow: 10px 10px 10px $buttonDarkShadow;
		color: $darkWhite;
	}

	// Due to the lack of interaction on hover on mobiles, it is better to use it only on devices that have a mouse, such as a laptop or desktop.
	// But just in case for review purpose below is code for every viewport to use hover

	// &:hover, &:focus {
	// background-color: $darkBlue;
	// box-shadow: 10px 10px 10px $buttonDarkShadow;
	// color: $darkWhite;
	// }
}
